html,
body {
    background-color: #a1a9b5;
    height: 100%;
}

.card-header { 
    background-color: #848a94;
}

.new-message { 
    background-color: #a1a9b5;
}

/* .card {
    height:80vh;
} */
#main-card {
    height: 64vh;
}

#bulk-card {
    height: 16vh;
}

#users-card {
    height: 80vh;
}

#rooms-card {
    height: 80vh;
}

.scroll {
    height: 100%;
    overflow-y: auto;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #6c757d  !important;
}

.select2-selection {
    outline: none;
    box-shadow:none !important;
    border:1px solid #6c757d  !important;
}
    
.invalid-indicator {
    color: red !important;
    opacity: .6 !important;
    display:none;
}